.contact{


    position: relative;
    background-color: #222222;

  #map{
    position: absolute;
    margin-left: 49%;
    height: 100%;
    width: 49%;

  }
    .heading{
      margin-top: 10%;


      text-align: center;
      color: $white;

      h1{font-family: Neris-Thin;font-size: 3.5em;opacity: 1;
        b{font-family: Neris;}
      }

    }
    .icon{margin-top:1.2%; img{margin: 0 auto;}}

  .form_box{
    margin-top: 2%;
    .address{
      color: white;
      margin-top: 48px;
      .indi_add{
        margin-bottom: 40px;

      }
    }


    .small{margin: 30px 5px 30px 5px;height: 45px;}
    .big{margin: 0px 5px 30px 5px;height: 194px;}
.s_icon{margin-right: 13px;}

    }
  .send_btn{
    margin-top: 5%;

    margin-bottom: 10%;
    button{background-color: $primary_yellow;border:none;color:$white;font-size: 1.3em; padding: 17px 30px 17px 30px;
    transition: all 0.3s;
      &:hover{background-color: white; color: #F7941E}
    }
  }
  }

