


.z_nav{
  z-index: 999;

  border-bottom: 2px solid;
  background-color: $white;
  border-color: #CCC;
  #image_home{img{padding: 5px;height: 45px;}}


  #mob_tog{background-color: #CCC;span{color: $white}}
  .nav_links{
    list-style: none;

    float: right;

    li{
      display: inline-block;
      margin-left: 15px;
      margin-right: 15px;
      &:hover{background-color: transparent}
      a {
        font-size: 1em;
        color: #fff;
        text-decoration: none;

        width: 100%;

        /* Effect 15: scale down, reveal */

        color: rgba(0,0,0,0.5);
        font-weight: 700;
        text-shadow: none;


        &::before {
          color: darken(gray, 10%);
          content: attr(data-hover);
          position: absolute;
          transition: transform 0.3s, opacity 0.3s;
        }

        &:hover::before,
        &:focus::before {
          transform: scale(0.9);
          opacity: 0;
        }


      }
    }
  }
}