.service{


  .service_box{
    color: darken(grey, 10%);
    margin-top: 7%;
    margin-bottom: 7%;
    img{margin: 0 auto;}

    span{margin-top: 1%; color: darken(grey, 5%);font-family: 'Neris-Thin';font-weight: 800}
  }
}