<div id="about_box" class="container-fluid about">

<div class="row">
  <div style="" class="col-md-10 col-md-offset-1">



    <div class="row">
    <div class="col-md-12 content_box">
      <div class="col-md-10 col-md-offset-1 indi_item">

        <img class="img img-responsiv" src=<%=asset_path('histroy.png')%>/>
        <h4>HISTORY</h4>
        <p>ASTARIC is a leading provider of expert IT services which has served an ever-growing number of clients since its founding in 2004. ASTARIC has now become the go-to web and mobile apps development firm for web development, mobile apps, network development, digital marketing, design, and software development.</p>

      </div>

      <div class="col-md-10 col-md-offset-1 indi_item">

        <img class="img img-responsiv" src=<%=asset_path('vission.png')%>/>
        <h4>VISION</h4>
        <p>Let entrepreneurs focus on their core, turn problems into opportunities and leave the how part on us.</p>

      </div>
      <div class="col-md-10 col-md-offset-1 indi_item">

        <img class="img img-responsiv" src=<%=asset_path('mission.png')%>/>
        <h4>MISSION</h4>
        <p>We design and develop solutions for entrepreneurs dreaming to change the world with their innovative ideas.</p>

      </div>

    </div>
</div>

    <div class="row ">
    <div class="col-md-3 h_line chupo"></div>
    <div class="col-md-6 tittle text-center"><h1>ABOUT US</h1></div>
    <div class="col-md-3 h_line chupo"></div>
      </div>

    <div class="row chupo" style="    top: 677px;
            position: relative;" >

      <div class="col-md-3 h_line"></div>
      <div class="col-md-6 tittle text-center"><h1></h1></div>
      <div class="col-md-3 h_line"></div>

    </div>


  </div>

</div>
</div>