<div id="about_box" class="container-fluid about">

<div class="row">
  <div style="" class="col-md-10 col-md-offset-1">



    <div class="row">
    <div class="col-md-12 content_box">
      <div class="col-md-10 col-md-offset-1 indi_item">

        <img class="img img-responsiv" src=<%=asset_path('histroy.png')%>/>
        <h4>HISTROY</h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

      </div>

      <div class="col-md-10 col-md-offset-1 indi_item">

        <img class="img img-responsiv" src=<%=asset_path('vission.png')%>/>
        <h4>VISION</h4>
        <p>Let entrepreneurs focus on their core, turn problems into opportunities and leave the how part on us.</p>

      </div>
      <div class="col-md-10 col-md-offset-1 indi_item">

        <img class="img img-responsiv" src=<%=asset_path('mission.png')%>/>
        <h4>MISSION</h4>
        <p>We design and develop solutions for entrepreneurs dreaming to change the world with their innovative ideas.</p>

      </div>

    </div>
</div>

    <div class="row ">
    <div class="col-md-3 h_line chupo"></div>
    <div class="col-md-6 tittle text-center"><h1>ABOUT US</h1></div>
    <div class="col-md-3 h_line chupo"></div>
      </div>

    <div class="row chupo" style="    top: 677px;
            position: relative;" >

      <div class="col-md-3 h_line"></div>
      <div class="col-md-6 tittle text-center"><h1></h1></div>
      <div class="col-md-3 h_line"></div>

    </div>


  </div>

</div>
</div>