
<div class="container-fluid header" >

    <div class="row">
      <div id="header_box_text" class="col-md-6 col-md-offset-3 text-center opening_text">
        <h1>We make websites and app that you will love to have</h1>
      </div>
      <div class="col-md-2 col-md-offset-5 text-center">
        <button id="view_btn" class="btn btn-default">Portfolio</button>
      </div>
    </div>
</div>
