<div id="sticker" class="container-fluid z_nav visible-lg">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-2 top_it">
        <a href="#" id="image_home"><img class="img img-responsive" src=<%=asset_path('logo.png')%> /></a>
      </div>
      <div class="col-md-7 col-md-offset-3 top_it">
        <ul class="nav_links">

          <li><a id="service" href="" data-hover="Services">Services</a></li>
          <li><a id="portfolio" href="#" data-hover="Portfolio">Portfolio</a></li>
          <li><a id="skills" href="#" data-hover="Skill">Skills</a></li>
          <li><a id="facts" href="#" data-hover="Facts">Facts</a></li>
          <li><a id="team" href="#" data-hover="Team">Team</a></li>
          <li><a id="contact" href="#"  data-hover="Contact">Contact</a></li>
          <li><a id="social" href="#" data-hover="Social">Social</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>