<div class="container-fluid port_header" data-parallax="scroll" data-image-src=<%=asset_path('portfolio.png')%>>

  <div class="row overlay">
    <div class="heading"><h1>Our creative <b>Portfolio</b></h1></div>
    <div class="icon wow pulse"><img class="img img-responsive" src=<%=asset_path('daimond.png')%>/></div>
    <div class="filters col-md-6 col-md-offset-3">
      <ul>

        <li class="filter" data-filter=".all">All</li>
        <li class="filter" data-filter=".category-web">Web</li>
        <li class="filter" data-filter=".category-app">Apps</li>
        <li class="filter" data-filter=".category-logo">Logo</li>
        <li class="filter" data-filter=".category-brand">Branding</li>
        <li class="filter" data-filter=".category-print">Print</li>




      </ul>
    </div>
  </div>

</div>

<div class="container-fluid  port_items">
  <div id="mix" class="row">


    <div id="one" class="col-sm-3 col-xs-6 mix all">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="two" class="col-sm-3 col-xs-6 mix all">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="three" class="col-sm-3 col-xs-6 mix all">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="four" class="col-sm-3 col-xs-6 mix all">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="five" class="col-sm-3 col-xs-6 mix all">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="six" class="col-sm-3 col-xs-6 mix all">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="seven" class="col-sm-3 col-xs-6 mix all">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="eight" class="col-sm-3 col-xs-6 mix all">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>








    <div id="app1" class="col-sm-3 col-xs-6 mix category-app">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="app2" class="col-sm-3 col-xs-6 mix category-app">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="app3" class="col-sm-3 col-xs-6 mix category-app">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="app4" class="col-sm-3 col-xs-6 mix category-app">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="app5" class="col-sm-3 col-xs-6 mix category-app">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="app6" class="col-sm-3 col-xs-6 mix category-app">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="app7" class="col-sm-3 col-xs-6 mix category-app">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="app8" class="col-sm-3 col-xs-6 mix category-app">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="app9" class="col-sm-3 col-xs-6 mix category-app">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="app10" class="col-sm-3 col-xs-6 mix category-app">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="app11" class="col-sm-3 col-xs-6 mix category-app">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="app12" class="col-sm-3 col-xs-6 mix category-app">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>



    <div id="logo1" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="logo2" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo3" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo4" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="logo5" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="logo6" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo7" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="logo8" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo9" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo10" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo11" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo12" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo13" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo14" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo15" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo16" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo17" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo18" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo19" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo20" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo21" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo22" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo23" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="logo24" class="col-sm-3 col-xs-6 mix category-logo">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>



    <div id="brand1" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="brand2" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="brand3" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="brand4" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>



    <div id="brand5" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="brand6" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="brand7" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="brand8" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="brand9" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="brand10" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="brand11" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="brand12" class="col-sm-3 col-xs-6 mix category-brand">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="web1" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="web2" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="web3" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="web4" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="web5" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="web6" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="web7" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="web8" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="web9" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="web10" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="web12" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="web11" class="col-sm-3 col-xs-6 mix category-web">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="print1" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="print2" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="print3" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="print4" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="print5" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="print6" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="print7" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="print8" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="print9" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="print10" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="print11" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>
    <div id="print12" class="col-sm-3 col-xs-6 mix category-print">
      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

  </div>


</div>


<div class="container-fluid port_footer" data-parallax="scroll" data-image-src=<%=asset_path('port_footer.png')%>>

  <div class="row overlay">

  </div>

</div>




<!--DEMO01-->
<div id="animatedModal">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
  <div  id="btn-close-modal" class="close-animatedModal">
    <i class="fa fa-times fa-3x"></i>
  </div>

  <div class="modal-content">
    <!--Your modal content goes here-->
    Aloo Chat
  </div>
</div>
<script>

    //demo 01
    $(".demo01").animatedModal();



</script>
