<div class="container-fluid port_header" data-parallax="scroll" data-image-src=<%=asset_path('portfolio.png')%>>

  <div class="row overlay">
    <div class="heading"><h1>Our creative <b>Portfolio</b></h1></div>
    <div class="icon wow pulse"><img class="img img-responsive" src=<%=asset_path('daimond.png')%>/></div>
    <div class="filters col-md-6 col-md-offset-3">
      <ul>

        <li class="filter" data-filter="all">All</li>
        <li class="filter" data-filter=".category-web">Web</li>
        <li class="filter" data-filter=".category-mob">Apps</li>
        <li class="filter" >Logo</li>
        <li class="filter">Branding</li>
        <li class="filter" data-filter=".category-print">Print</li>


      </ul>
    </div>
  </div>

</div>

<div class="container-fluid  port_items">
  <div id="mix" class="row">


    <div id="one" class="col-sm-3 col-xs-6 mix category-web">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="two" class="col-sm-3 col-xs-6 mix category-web">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="three" class="col-sm-3 col-xs-6 mix category-web">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="four" class="col-sm-3 col-xs-6 mix category-web">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="five" class="col-sm-3 col-xs-6 mix category-web">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="six" class="col-sm-3 col-xs-6 mix category-mob">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>




    <div id="seven" class="col-sm-3 col-xs-6 mix category-mob">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="eight" class="col-sm-3 col-xs-6 mix category-mob">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="nine" class="col-sm-3 col-xs-6 mix category-mob">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>



    <div id="ten" class="col-sm-3 col-xs-6 mix category-mob">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>


    <div id="eleven" class="col-sm-3 col-xs-6 mix category-mob">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>

    <div id="twelve" class="col-sm-3 col-xs-6 mix category-mob">

      <div class="caption"><a class="demo01" href="#animatedModal"><i class="fa fa-eye fa-3x"></i></a></div>

    </div>




  </div>


</div>


<div class="container-fluid port_footer" data-parallax="scroll" data-image-src=<%=asset_path('port_footer.png')%>>

  <div class="row overlay">

  </div>

</div>




<!--DEMO01-->
<div id="animatedModal">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
  <div  id="btn-close-modal" class="close-animatedModal">
    <i class="fa fa-times fa-3x"></i>
  </div>

  <div class="modal-content">
    <!--Your modal content goes here-->
    Aloo Chat
  </div>
</div>
<script>

    //demo 01
    $(".demo01").animatedModal();



</script>
