<div class="container-fluid service">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-sm-3 col-xs-6 text-center service_box">
            <img class="img img-responsive  wow fadeInDown" src=<%=asset_path('planing.png')%>>
            <h3 class=" wow fadeInDown">Plan</h3>

            <span class=" wow fadeInDown">At ASTARIC, we plan until all stakeholders start believing in the project. That is what triggers the process to give us efficient results.
</span>
          </div>
          <div class="col-sm-3 col-xs-6 text-center service_box ">
            <img class="img img-responsive  wow fadeInDown" data-wow-delay="0.1s" src=<%=asset_path('design.png')%>>
            <h3 class=" wow fadeInDown" data-wow-delay="0.1s">Design</h3>
            <span class=" wow fadeInDown" data-wow-delay="0.1s">Be it your corporate identity, your website or the mobile application layout, our creative team makes sure that our designs strengthen your brand positioning.</span>
          </div>
          <div class="col-sm-3 col-xs-6 text-center service_box">
            <img class="img img-responsive  wow fadeInDown" data-wow-delay="0.2s" src=<%=asset_path('lcd.png')%>>
            <h3 class=" wow fadeInDown" data-wow-delay="0.2s">Develop</h3>
            <span class=" wow fadeInDown" data-wow-delay="0.2s">With an in-house team fully equipped with the latest development tools and knowledge, we provide customized solutions to your web and mobile needs.
</span>
          </div>
          <div class="col-sm-3  col-xs-6 text-center service_box">
            <img class="img img-responsive  wow fadeInDown" data-wow-delay="0.3s" src=<%=asset_path('graph.png')%>>
            <h3 class=" wow fadeInDown" data-wow-delay="0.3s">Integrate</h3>
            <span class=" wow fadeInDown" data-wow-delay="0.3s">Where else to look for when ASTARIC is here to
provide integrated solutions for your business saving not only your cost but
efforts as well?</span>
          </div>
        </div>
    </div>
  </div>
</div>