<div class="container-fluid service">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-sm-3 col-xs-6 text-center service_box">
            <img class="img img-responsive  wow fadeInDown" src=<%=asset_path('planing.png')%>>
            <h3 class=" wow fadeInDown">PLANING</h3>

            <span class=" wow fadeInDown">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
          </div>
          <div class="col-sm-3 col-xs-6 text-center service_box ">
            <img class="img img-responsive  wow fadeInDown" data-wow-delay="0.1s" src=<%=asset_path('design.png')%>>
            <h3 class=" wow fadeInDown" data-wow-delay="0.1s">Designing</h3>
            <span class=" wow fadeInDown" data-wow-delay="0.1s">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
          </div>
          <div class="col-sm-3 col-xs-6 text-center service_box">
            <img class="img img-responsive  wow fadeInDown" data-wow-delay="0.2s" src=<%=asset_path('lcd.png')%>>
            <h3 class=" wow fadeInDown" data-wow-delay="0.2s">Development</h3>
            <span class=" wow fadeInDown" data-wow-delay="0.2s">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
          </div>
          <div class="col-sm-3  col-xs-6 text-center service_box">
            <img class="img img-responsive  wow fadeInDown" data-wow-delay="0.3s" src=<%=asset_path('graph.png')%>>
            <h3 class=" wow fadeInDown" data-wow-delay="0.3s">Marketing</h3>
            <span class=" wow fadeInDown" data-wow-delay="0.3s">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
          </div>
        </div>
    </div>
  </div>
</div>