<div id="skills_box" class="container-fluid skills">




      <div class="heading"><h1>Our Stellar <b>Skills</b></h1></div>
    <div class="icon  wow pulse"><img class="img img-responsive" src=<%=asset_path('arrow.png')%>/></div>




  <div class="row circle_bar">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-sm-3 col-xs-12">
        <!--here is the chart and text-->
        <div id="circle1" class="crl"></div>
        <div class="text"><h1>89%</h1><span id="span1">Frontend</span></div>
      </div>
      <div id="circle_two" class="col-sm-3 col-xs-12">
        <!--here is the chart and text-->
        <div id="circle2" class="crl"></div>
        <div class="text"><h1>87%</h1><span id="span2">Ruby</span></div>
      </div>
      <div id="circle_three" class="col-sm-3 col-xs-12">
        <!--here is the chart and text-->
        <div id="circle3" class="crl"></div>
        <div class="text"><h1>72%</h1><span id="span3">Android</span></div>
      </div>
      <div id="circle_four" class="col-sm-3 col-xs-12">
        <!--here is the chart and text-->
        <div id="circle4" class="crl"></div>
        <div class="text"><h1>78%</h1><span id="span4">PHP</span></div>
      </div>
    </div>
  </div>

</div>