<div class="container-fluid team_header">


    <div class="heading"><h1>Our creative <b>Team</b></h1></div>
    <div class="icon  wow pulse"><img class="img img-responsive" src=<%=asset_path('team.png')%>/></div>



</div>


<div class="container-fluid team_members">

  <div id="ijaz" class="col-sm-3 col-xs-6">

    <div class="caption">
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-envelope fa-3x"></i>
      <div class="inro">
        <h2>Ijaz Ahmad</h2>
        <span>CEO</span>
      </div>
    </div>

  </div>


  <div id="fiaz" class="col-sm-3 col-xs-6 " >

    <div class="caption">
      <a href="https://kw.linkedin.com/in/abufurqan" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="mailto:fiaz.ahmed@astaric.com?subject=Astaric Team"><i class="fa fa-envelope fa-3x"></i></a>
      <div class="inro">
        <h2>Fiaz Admed</h2>
        <span>Senior Designer</span>
      </div>
    </div>

  </div>


  <div id="nisar" class="col-sm-3 col-xs-6">

    <div class="caption">
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-envelope fa-3x"></i>
      <div class="inro">
        <h2>Nisar Ahmad</h2>
        <span>Country Head</span>
      </div>
    </div>

  </div>


  <div id="umer" class="col-sm-3 col-xs-6">

    <div class="caption">
      <a href="https://pk.linkedin.com/in/umerr6" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="mailto:umer.raza@astaric.com?subject=Astaric Team"><i class="fa fa-envelope fa-3x"></i></a>

      <div class="inro">
        <h2>Umer Raza</h2>
        <span>Business Developer</span>
      </div>
    </div>

  </div>




  <div id="nauman" class="col-sm-3 col-xs-6">

    <div class="caption">
      <a href="https://pk.linkedin.com/pub/nauman-hameed/80/470/a66" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="mailto:nauman.hameed@astaric.com?subject=Astaric Team"><i class="fa fa-envelope fa-3x"></i></a>

      <div class="inro">
        <h2>Nauman Hameed</h2>
        <span>Team Lead</span>
      </div>
    </div>

  </div>


  <div id="zain" class="col-sm-3 col-xs-6">

    <div class="caption">
      <a href="https://http://pk.linkedin.com/in/zaingz" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="mailto:zain.zafar@astaric.com?subject=Astaric Team"><i class="fa fa-envelope fa-3x"></i></a>

      <div class="inro">
        <h2>Zain Bin Zafar</h2>
        <span>Software Engineer</span>
      </div>
    </div>

  </div>
  <div id="khuram" class="col-sm-3 col-xs-6">

    <div class="caption">
      <a href=" https://pk.linkedin.com/pub/khuram-rahim/39/b08/977" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="mailto:khuram.rahim@astaric.com?subject=Astaric Team"><i class="fa fa-envelope fa-3x"></i></a>

      <div class="inro">
        <h2>Khuram Rahim</h2>
        <span>Lead Designer</span>
      </div>
    </div>

  </div>

  <div id="amo" class="col-sm-3 col-xs-6">

    <div class="caption">
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-envelope fa-3x"></i>
      <div class="inro">
        <h2>Umer Raza</h2>
        <span>Finance Administrator</span>
      </div>
    </div>

  </div>





</div>