<div class="container-fluid team_header">


    <div class="heading"><h1>Our creative <b>Team</b></h1></div>
    <div class="icon  wow pulse"><img class="img img-responsive" src=<%=asset_path('team.png')%>/></div>



</div>


<div class="container-fluid team_members">

  <div id="ijaz" class="col-sm-3 col-xs-6">

    <div class="caption">
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-envelope fa-3x"></i>
      <div class="inro">
        <h2>Khuram Rahim</h2>
        <span>Zalim insan</span>
      </div>
    </div>

  </div>


  <div id="ijaz" class="col-sm-3 col-xs-6 " >

    <div class="caption">
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-envelope fa-3x"></i>
      <div class="inro">
        <h2>Khuram Rahim</h2>
        <span>Zalim insan</span>
      </div>
    </div>

  </div>


  <div id="ijaz" class="col-sm-3 col-xs-6">

    <div class="caption">
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-envelope fa-3x"></i>
      <div class="inro">
        <h2>Khuram Rahim</h2>
        <span>Zalim insan</span>
      </div>
    </div>

  </div>


  <div id="ijaz" class="col-sm-3 col-xs-6">

    <div class="caption">
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-envelope fa-3x"></i>
      <div class="inro">
        <h2>Khuram Rahim</h2>
        <span>Zalim insan</span>
      </div>
    </div>

  </div>




  <div id="nauman" class="col-sm-3 col-xs-6">

    <div class="caption">
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-envelope fa-3x"></i>
      <div class="inro">
        <h2>Nauman Hameed</h2>
        <span>Team Lead</span>
      </div>
    </div>

  </div>


  <div id="zain" class="col-sm-3 col-xs-6">

    <div class="caption">
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-envelope fa-3x"></i>
      <div class="inro">
        <h2>Zain Bin Zafar</h2>
        <span>Software Engineer</span>
      </div>
    </div>

  </div>
  <div id="ijaz" class="col-sm-3 col-xs-6">

    <div class="caption">
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-envelope fa-3x"></i>
      <div class="inro">
        <h2>Khuram Rahim</h2>
        <span>Zalim insan</span>
      </div>
    </div>

  </div>

  <div id="umer" class="col-sm-3 col-xs-6">

    <div class="caption">
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-envelope fa-3x"></i>
      <div class="inro">
        <h2>Umer Raza</h2>
        <span>Finance Administrator</span>
      </div>
    </div>

  </div>





</div>