<div id="testimonial_box" class="container-fluid testimonials">




  <div class="heading"><h1>Our Proud <b>Testimonials</b></h1></div>
  <div class="icon  wow pulse"><i class="fa fa-quote-left fa-3x"></i></div>


    <div  class="row quote_box">
      <div id="testi_box" class="col-md-10 col-md-offset-1">

      <div class="col-md-3 col-xs-12 wow flipInX">
        <div class="gre">
        <img class="img img-responsive img-circle" src=<%=asset_path('nauman.png')%>/>
          <div class="text-wrapper text-center">Lorem ipsum is very beautiful company come and work with us. Lorem ipsum is very beautiful company come and work with us.<h4 class="author">Maria Kali</h4></div>
        </div>
      </div>
        <div class="col-md-3 col-xs-12  wow flipInX">
          <div class="blu">
            <img class="img img-responsive img-circle" src=<%=asset_path('umer.jpg')%>/>
            <div class="text-wrapper text-center">Lorem ipsum is very beautiful company come and work with us. Lorem ipsum is very beautiful company come and work with us.<h4 class="author">Maria Kali</h4></div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12   wow flipInX">
          <div class="red">
            <img class="img img-responsive img-circle" src=<%=asset_path('khuram.png')%>/>
            <div class="text-wrapper text-center">Lorem ipsum is very beautiful company come and work with us. Lorem ipsum is very beautiful company come and work with us.<h4 class="author">Maria Kali</h4></div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12  wow flipInX">
          <div class="yel">
            <img class="img img-responsive img-circle" src=<%=asset_path('ijaz.png')%>/>
            <div class="text-wrapper text-center">Lorem ipsum is very beautiful company come and work with us. Lorem ipsum is very beautiful company come and work with us.<h4 class="author">Maria Kali</h4></div>


          </div>
        </div>


    </div>
</div>


</div>