$primary_yellow: #F7941E;
$white: #FFF;
$secondary_blue: #2a384b;
@font-face {
  font-family: 'Neris';
  src: font-url('Neris.otf');

}
@font-face {
  font-family: 'Neris-Thin';
  src: font-url('Neris-Thin.otf');

}
body{
  font-family: Neris;
  width:100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
@import 'home/header';
@import "home/nav";
@import "home/service";
@import "home/portfolio";
@import "home/skills";
@import "home/facts";
@import "home/team";
@import "home/contact";
@import "home/social";
@import "home/footer";




/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #header_box_text{margin-top: 55%;;}
  #view_btn{margin-bottom: 17%; font-size: 2.5em;}
  #circle_three{margin-top: 30%;}
  #circle_four{margin-top: 30%;}
  .circle_bar{margin-left: 7.5%;margin-bottom: 25%;}
  .indi_fact{margin-bottom: 10%;}
  .social_box{.col-xs-4{margin-bottom: 6%;}}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
