// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project_md{

  h1{margin-top: 30px;}
  h4{margin-bottom: 30px;}

.img_box{
  padding: 0;
  margin-bottom: 30px;
  img{margin: 0 auto;}
}
}
